<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="NanoBatteryTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <NanoBatteryTest.Properties.Settings>
            <setting name="StartFromCharge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BatteryCapacity" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ChargeVoltage" serializeAs="String">
                <value>14.4</value>
            </setting>
            <setting name="CurrentStabilityWnd" serializeAs="String">
                <value>02:00:00</value>
            </setting>
            <setting name="AftreChargeRelaxation" serializeAs="String">
                <value>02:00:00</value>
            </setting>
            <setting name="ChargeTimeout" serializeAs="String">
                <value>10:00:00</value>
            </setting>
            <setting name="CurrentPercentLimit" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LowBatteryVoltageLimit" serializeAs="String">
                <value>10.8</value>
            </setting>
            <setting name="HighBatteryVoltageLimit" serializeAs="String">
                <value>14.3</value>
            </setting>
            <setting name="CyclesCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ChargeWhenComplete" serializeAs="String">
                <value>True</value>
            </setting>
        </NanoBatteryTest.Properties.Settings>
    </userSettings>
</configuration>
